<footer class="container" style="margin-top: 100px;">
    <p class="text-center">Copyright ©2017 MovieTalk
        <br>Design by
        <a href="http://songshaoyu-blog.logdown.com" target=ssy</a>
    </p>
</footer>
